$grid-1: minmax(auto, 8.3333333333%);
$grid-2: minmax(auto, 16.6666666667%);
$grid-3: minmax(auto, 25%);
$grid-4: minmax(auto, 33.3333333333%);
$grid-5: minmax(auto, 41.6666666667%);
$grid-6: minmax(auto, 50%);
$grid-7: minmax(auto, 58.3333333333%);
$grid-8: minmax(auto, 66.6666666667%);
$grid-9: minmax(auto, 75%);
$grid-10: minmax(auto, 83.3333333333%);
$grid-11: minmax(auto, 91.6666666667%);
$grid-12: minmax(auto, 100%);

.grid {
  @include media-breakpoint-up(xl) {
    &.grid-4-8 {
      grid-template-columns: $grid-4 $grid-8;
    }
    &.grid-8-4 {
      grid-template-columns: $grid-8 $grid-4;
    }
    &.grid-7-5 {
      grid-template-columns: $grid-7 $grid-5;
    }
    &.grid-5-7 {
      grid-template-columns: $grid-5 $grid-7;
    }
    &.grid-4-8 {
      grid-template-columns: $grid-4 $grid-8;
    }
    &.grid-4-4-4 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  // IE FIX: Remove max-widths required for flexbox on columns
  @supports (display: grid) {
    .bmcb-column,
    [class*='col-'] {
      max-width: none;
      padding: 0;
      margin: 0;
    }
  }
}
