.container {
    width: 100%;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    @include media-breakpoint-up(md) {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 80%;
    }
    @include media-breakpoint-up(lg) {
        max-width: $containerWidth;
    }
}

.container-small {
    display: flex;
    justify-content: center;
    > .container,
    > .row {
        @include media-breakpoint-up(xl) {
            max-width: 89rem;
        }
    }
}

@media (min-width: 2000px) {
    .container {
        max-width: $containerWidth;
    }
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

[class*="col-"] {
    position: relative;
    width: 100%;
}

@each $name, $breakpoint in $grid-breakpoints {
    // Don't generate XS, instead have no prefix eg .mb-2
    @if $name == xs {
        .col {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
        }
        .col-auto {
            flex: 0 0 auto;
            width: auto;
            max-width: 100%;
        }
        @for $i from 0 through 12 {
            .col-#{$i} {
                flex: 0 0 calc((#{$i} / 12 * 100) * 1% - (#{$col_gap}rem / 2));
            }
        }
    } @else {
        @include media-breakpoint-up($name) {
            .col-#{$name} {
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
            }
            .col-#{$name}-auto {
                flex: 0 0 auto;
                width: auto;
                max-width: 100%;
            }
            @for $i from 0 through 12 {
                // Breakpoint sizes
                @each $short, $long in $box_model {
                    .col-#{$name}-#{$i} {
                        flex: 0
                            0
                            calc(
                                (#{$i} / 12 * 100) * 1% - (#{$col_gap}rem / 2)
                            );
                    }
                }
            }
        }
    }
}
