// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size) {
	padding: $padding-y $padding-x;
	font-size: $font-size;
}

// Depreciated, remove all references to them as you go along
// 1rem maps to 10px now for easy maths.
@mixin font-size($size) {
	font-size: $size * 1px;
  	font-size: ($size / 10) * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Equal-Width grid-column generator
@mixin grid-cols($numberColumns: 6) {
	grid-template-columns: repeat($numberColumns, 1fr);
}
