/*------------------------------------------------------------
---------------------- Blurb Styles --------------------
--------------------------------------------------------------*/
.bmcb-blurb-title {
  margin: 0;
  padding: 0 0 0.5rem;
}

.bmcb-blurb-content {
  padding: 0 2rem 1rem;
}

.bmcb-blurb__description {
  padding: 0 0 2rem;
}
